In [1]:
print("welcome")

welcome

In [ ]:
# methods:-
------------

.title()
.upper()
.lower()
.islower()
.isupper()
.swapcase()

In [6]:
name = 'sreenu'

In [7]:
name

'sreenu'

In [ ]:
# title()

In [8]:
name.title()

'Sreenu'

In [ ]:
# upper()

In [9]:
print(name)

sreenu

In [10]:
name.upper()

'SREENU'

In [11]:
name1 = 'DEEPTHI'

In [12]:
print(name1)

DEEPTHI

In [ ]:
# lower()

In [13]:
name1.lower()

'deepthi'

In [85]:
name1

'DEEPTHI'

In [ ]:
# islower()

# it returns true or false

# it returns true when all chars in the string is lower case letter

In [14]:
name

'sreenu'

In [15]:
name.islower()

True

In [16]:
name1

'DEEPTHI'

In [17]:
name1.islower()

False

In [18]:
name1

'DEEPTHI'

In [ ]:
# isupper()

# it returns true or false

# if all letter in the string is in upper case then only it returns true

In [19]:
name1

'DEEPTHI'

In [20]:
name1.isupper()

True

In [21]:
name2 = 'bsusbAASSAIAS'

In [22]:
name2.isupper()

False

In [23]:
name2.islower()

False

In [24]:
my_stat = 'MY NAME is siva'

In [25]:
print(my_stat)

MY NAME is siva

In [ ]:
# swapcase()

In [26]:
my_stat.swapcase()

'my name IS SIVA'

In [ ]:
# f strings:-
------------

f string ---> formetted strings

# it is feature of python 3.x

In [27]:
first_name = 'chappidi'

last_name = 'sreenu'

In [51]:
full_name = f"{first_name.title()} {last_name.title()}"

In [52]:
print(full_name)

Chappidi Sreenu

In [40]:
full_name

'Chappidi Sreenu'

In [ ]:
# req:- welcome back chappidi sreenu

In [53]:
print(f"Welcome back, {full_name}")

Welcome back, Chappidi Sreenu

In [54]:
print(f"{full_name} got 1st prize")

Chappidi Sreenu got 1st prize

In [ ]:
# validation of datatypes:-
-------------------------

In [55]:
n = 8

In [ ]:
# type()

In [56]:
type(n)

int

In [57]:
x = 0.8

In [58]:
type(x)

float

In [59]:
s = 'sabhasbash'

In [60]:
type(s)

str

In [61]:
x = 1
y = 2
z = 3

In [62]:
print(x,y,z)

1 2 3

In [ ]:
# efficent way of declaring var

In [63]:
a,b,c = 1,2,3

In [64]:
print(a,b,c)

1 2 3

In [ ]:
# tab delimeter:-
-----------------

\t ---> it used to get one tab space

\n ---> it used to jump the control to a new line

In [65]:
print('python')

python

In [66]:
print('\tpython')

	python

In [67]:
print('my name')

my name

In [68]:
print('my\nname')

my
name

In [ ]:
# stripping conccept:-
--------------------

# striping concept is used to remove white spaces


3-types

.rstrip()  ---> right strip
.lstrip()  ---> left strip
.strip()   ---> strip

In [69]:
name5 = '       python'

In [70]:
print(name5)

       python

In [71]:
print(f"my fav lang is {name5}")

my fav lang is        python

In [72]:
name5

'       python'

In [73]:
name5.lstrip()

'python'

In [74]:
print(f"my fav lang is {name5.lstrip()}")

my fav lang is python

In [75]:
name6 = 'raja      '

In [76]:
name6

'raja      '

In [77]:
name6.rstrip()

'raja'

In [78]:
lang = '    java          '

In [79]:
lang

'    java          '

In [80]:
lang.strip()

'java'

In [81]:
3*4  # multiplication

12

In [83]:
2**2  # exponential ---> 2^2

4

In [84]:
3**2

9

In [86]:
3**3

27

In [88]:
3**3  # x power a

27